[
  {
    "file_name": "Enciclopedia Worldbuilding",
    "file_type": "link",
    "url": "https://australworldbuildinglab.notion.site/Enciclopedia-Mundo-Austral-19f3ccb4217980bbbe66d69440e18980"
  },
  {
    "file_name": "Alex McDowell - Worldbuilding",
    "file_type": "link",
    "url": "https://m.youtube.com/watch?v=0rwbWB8wsis&t=1s&pp=2AEBkAIB"
  },
  {
    "file_name": "Experimental Design",
    "file_type": "link",
    "url": "https://experimental.design/"
  }
]

